<div class="card card-custom" *ngIf="!branchTabViewStatus">
  <!--begin::Body-->
  <div class="p-4 _overflowAuto" [style.height.px]="totalHeight - 100">
    <div
      (click)="branchDetailsViewFunction(branch)"
      class="row _wid100 mb-3 _cardBackgroundColor _curPointer"
      *ngFor="let branch of branchListData; let i = index"
    >
      <div class="col-xl-4 p-2">
        <div class="font-weight-bold mt-1">Branch Name :</div>
        <div class="font-size-sm font-weight-bold mt-1 ml-2">
          {{ branch.branch_name }}
        </div>
        <div class="font-weight-bold mt-1">Email :</div>
        <div class="black _textOverflow mt-1 font-size-sm ml-2">
          {{ branch.email }}
        </div>
      </div>

      <div class="col-xl-4 p-2">
        <div class="font-weight-bold mt-1">Availablity Status :</div>
        <div class="font-size-sm mt-1 ml-2">
          {{ branch.availablity_status }}
        </div>
        <div class="font-weight-bold mt-1">Mobile Number :</div>
        <div class="black _textOverflow mt-1 font-size-sm ml-2">
          {{ branch.mobile_number }}
        </div>
      </div>

      <div class="col-xl-4 p-2">
        <div class="font-weight-bold mt-1">Approved Status :</div>
        <div class="font-size-sm mt-1 ml-2">
          {{ branch.approved_status }}
        </div>
        <div class="font-weight-bold mt-1">Status :</div>
        <div class="black _textOverflow mt-1 font-size-sm ml-2">
          {{ branch.status }}
        </div>
      </div>
    </div>
  </div>
</div>

<mat-tab-group
  *ngIf="branchTabViewStatus"
  [style.height.px]="totalHeight - 100"
>
  <mat-tab label="Orders"
    ><app-customer-order class="mt-3"></app-customer-order>
  </mat-tab>

  <mat-tab label="Menu"> <app-menu-tab></app-menu-tab></mat-tab>

  <mat-tab label="Rider Map"><app-rider-list></app-rider-list> </mat-tab>

  <mat-tab label="Profile">
    <app-branch-profile-tab></app-branch-profile-tab>
  </mat-tab>

  <mat-tab label="Configurations">
    <app-branch-configuration-tab></app-branch-configuration-tab>
  </mat-tab>

  <mat-tab label="Documents">
    <app-document-tab></app-document-tab>
  </mat-tab>

  <mat-tab label="Earnings & Reports"
    ><app-earning-report-tab></app-earning-report-tab>
  </mat-tab>

  <mat-tab label="Support queries"
    ><app-branch-support></app-branch-support>
  </mat-tab>

  <mat-tab label="Activity Log"><app-activity-log></app-activity-log> </mat-tab>
</mat-tab-group>
