._filterLabel {
  display: -webkit-inline-box;
  overflow: auto;
  width: 100%;
}

._textEndStart {
  text-align: end;
}

._filterLabel ._filterButton {
  margin: 10px auto;
}

._searchFilterDiv {
  background: #ffffff;
  padding: 10px;
}

::-webkit-scrollbar {
  width: 0px;
}

._orderExpand {
  text-align: right;
  right: 15px;
}

@media only screen and (min-width: 0px) and (max-width: 1200px) {
  ._textEndStart {
    text-align: start;
  }

  ._filterLabel {
    margin-top: 10px;
  }
}
