<!-- <div class="card card-custom card-stretch">
  <div class="card-body pt-4"> -->
    <div class="page nexus6">
      <div class="phone">
        <div class="wa-container">
          <!-- <div class="status-bar">
            <div class="time">
              2:15 PM
            </div>
            <div class="battery">
              <i class="zmdi zmdi-battery"></i>
            </div>
            <div class="network">
              <i class="zmdi zmdi-network"></i>
            </div>
            <div class="wifi">
              <i class="zmdi zmdi-wifi-alt-2"></i>
            </div>
            <div class="star">
              <i class="zmdi zmdi-star"></i>
            </div>
          </div> -->
          <div class="wrapperchat">
            <div class="chat-root">
              <div class="user-bar">
                <div class="back">
                  <i class="zmdi zmdi-arrow-left"></i>
                </div>

                <div class="user">
                  <img src="/assets/media/users/300_1.jpg" alt="user" />
                </div>
                <div class="user-name">
                  <b>Abdul</b>
                  <span>online now</span>
                </div>

                <div class="actions more">
                  <i class="zmdi zmdi-more-vert"></i>
                </div>
                <div class="actions attachment">
                  <i class="zmdi zmdi-attachment-alt"></i>
                </div>
                <div class="actions">
                  <i class="zmdi zmdi-phone"></i>
                </div>
              </div>
              <div class="chat-window">
                <div class="conversation">
                  <div class="balloon him">
                    Hi. Welcome to KFC, Riffa. What would you like to order?
                    <span class="data">2:11 PM</span>
                  </div>
                  <div class="balloon you">
                    I would like to know the menu

                    <span class="data blue">2:12 PM</span>
                  </div>

                  <div class="balloon him">
                    Sure. We have Starters, Main course, Dessert

                    <span class="data blue">2:13 PM</span>
                  </div>

                  <div class="balloon you">
                    What's the Starters?
                    <span class="data">2:14 PM</span>
                  </div>

                  <div class="balloon him">
                    Our popular starters are: Popcorn & Tandoori Masala 4pc Hot
                    wings
                    <span class="data blue">2:15 PM</span>
                  </div>
                </div>

                <div class="textarea">
                  <div class="emoticons"></div>
                  <textarea
                    class="message"
                    name="message"
                    placeholder="Type a message"
                  ></textarea>
                  <div class="photo">
                    <i class="zmdi zmdi-camera"></i>
                  </div>
                  <div class="send-mic">
                    <div class="circle-cont">
                      <img
                        src="./assets/media/convobot-icon/right-arrow.png"
                        style="
                          left: 13px;
                          position: relative;
                          right: 0;
                          bottom: 0px;
                          top: 12px;
                        "
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="bottom-bar">
            <div class="triangle">
              <i class="zmdi zmdi-triangle-up"></i>
            </div>
            <div>
              <i class="zmdi zmdi-circle-o"></i>
            </div>
            <div>
              <i class="zmdi zmdi-square-o"></i>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  <!-- </div>
</div> -->
