<mat-tab-group class="p-0">
  <mat-tab label="Profile">
    <div class="row _wid100">
      <div class="col-xl-12">
        <!-- <div class="font-weight-bold mt-1">First Name</div>
          <div class="font-size-sm mt-1 ml-2">Aaron</div> -->

        <div class="form-group mt-4">
          <label>First Name</label>
          <div class="font-size-lg font-weight-bold ml-2">Aaron</div>
        </div>

        <div class="form-group">
          <label>Last Name</label>
          <div class="font-size-lg font-weight-bold ml-2">Aaron</div>
        </div>

        <div class="form-group">
          <label>Email</label>
          <div class="font-size-lg font-weight-bold ml-2">Aaron@gmail.com</div>
        </div>

        <div class="form-group">
          <label>Phone Number</label>
          <div class="font-size-lg font-weight-bold ml-2 _textJustify">
            9898653210
          </div>
        </div>

        <div class="form-group">
          <label>User ID</label>
          <div class="font-size-lg font-weight-bold ml-2 _textJustify">
            UID -112
          </div>
        </div>

        <div class="form-group">
          <label>Branch</label>
          <div class="font-size-lg font-weight-bold ml-2">Wing Man</div>
        </div>

        <div class="form-group">
          <label>Roles</label>
          <div class="font-size-lg font-weight-bold ml-2">Manager</div>
        </div>
      </div>
    </div></mat-tab
  >
  <mat-tab label="Activity Log">
    <mat-vertical-stepper orientation="vertical">
      <mat-step>
        <ng-template matStepLabel>Step 1</ng-template>
        <ng-template matStepContent>
          <p>This content was rendered lazily</p>
          <button mat-button matStepperNext>Next</button>
        </ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Step 2</ng-template>
        <ng-template matStepContent>
          <p>This content was also rendered lazily</p>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Step 3</ng-template>
        <p>This content was rendered eagerly</p>
        <button mat-button matStepperPrevious>Back</button>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Step 4</ng-template>
        <p>This content was rendered eagerly</p>
        <button mat-button matStepperPrevious>Back</button>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Step 5</ng-template>
        <p>This content was rendered eagerly</p>
        <button mat-button matStepperPrevious>Back</button>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Step 6</ng-template>
        <p>This content was rendered eagerly</p>
        <button mat-button matStepperPrevious>Back</button>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Step 7</ng-template>
        <p>This content was rendered eagerly</p>
        <button mat-button matStepperPrevious>Back</button>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Step 8</ng-template>
        <p>This content was rendered eagerly</p>
        <button mat-button matStepperPrevious>Back</button>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Step 9</ng-template>
        <p>This content was rendered eagerly</p>
        <button mat-button matStepperPrevious>Back</button>
      </mat-step>
    </mat-vertical-stepper>
  </mat-tab>
</mat-tab-group>
