::ng-deep ._fileUploadBtn .ui-button {
  background-color: #ebebeb;
  color: #000;
  border: 1px solid #e1d9d9;
}

::ng-deep ._fileUploadBtn .ui-button:hover {
  background-color: #ebebeb;
  color: #000;
  border: 1px solid #e1d9d9;
}
