<div class="form-group">
  <label>Days</label>
  <select name="country" class="form-control">
    <option value="AX">Sunday</option>
    <option value="AF">Monday</option>
    <option value="AX">Tuesday</option>
    <option value="AX">wednesday</option>
    <option value="AX">Thursday</option>
    <option value="AX">Friday</option>
    <option value="AX">saturday</option>
  </select>
  <span class="form-text text-muted">Please select day.</span>
</div>

<div class="form-group">
  <label>Menu</label>
  <select name="country" class="form-control">
    <option value="AF">French Fries</option>
    <option value="AX">Plain Sandwich</option>
    <option value="AX">Grilled Sandwich</option>
    <option value="AX">Plain Cheese Pizza</option>
    <option value="AX">Onion Pizza</option>
    <option value="AX">Lasanana Roll</option>
  </select>
  <span class="form-text text-muted">Please select menu.</span>
</div>

<div class="form-group">
  <p-checkbox
    [(ngModel)]="allDays"
    [binary]="true"
    label="All Days"
  ></p-checkbox>
</div>

<div class="form-group _timeslot">
  <label>From Timestamp</label>
  <div>
    <p-calendar
      [style]="{ width: '100%' }"
      [timeOnly]="true"
      inputId="timeonly"
      [disabled]="allDays"
    ></p-calendar>
  </div>

  <span class="form-text text-muted">Please fill from timestamp.</span>
</div>

<div class="form-group _timeslot">
  <label>To Timestamp</label>
  <div>
    <p-calendar
      [style]="{ width: '100%' }"
      [timeOnly]="true"
      inputId="timeonly"
      [disabled]="allDays"
    ></p-calendar>
  </div>
  <span class="form-text text-muted">Please fill to timestamp.</span>
</div>

<div>
  <button
    class="btn btn-primary btn-fixed-height font-weight-bold px-2 px-lg-5 mt-4 mr-2 _mlauto"
  >
    Save
  </button>
</div>
