


<div class="form-group">
  <label>Menu Name</label>
  <input type="text" class="form-control" placeholder="Name" />
  <span class="form-text text-muted">Please enter the menu name.</span>
</div>

<div class="form-group">
  <label>Item</label>
  <select name="country" class="form-control">
    <option value="AF">Afghanistan</option>
    <option value="AX">Åland Islands</option>
  </select>
  <span class="form-text text-muted">Please select item.</span>
</div>

<div class="form-group _timeslot">
  <label>From Timestamp</label>
  <div>
    <p-calendar
      [style]="{ width: '100%' }"
      [timeOnly]="true"
      inputId="timeonly"
    ></p-calendar>
  </div>

  <span class="form-text text-muted">Please fill from timestamp.</span>
</div>

<div class="form-group _timeslot">
  <label>To Timestamp</label>
  <div>
    <p-calendar
      [style]="{ width: '100%' }"
      [timeOnly]="true"
      inputId="timeonly"
    ></p-calendar>
  </div>
  <span class="form-text text-muted">Please fill to timestamp.</span>
</div>

<div>
  <button
    class="btn btn-primary btn-fixed-height font-weight-bold px-2 px-lg-5 mt-4 mr-2 _mlauto"
  >
    Save
  </button>
</div>
