<!--begin::Profile Card-->
<div class="card card-custom card-stretch">
  <!--begin::Body-->
  <div class="card-body pt-8">
    <!--begin::Toolbar-->

    <!--begin::Nav-->
    <div
      class="navi navi-bold navi-hover navi-active navi-link-rounded _subMenu"
    >
      <div class="navi-item mb-2">
        <a
          class="navi-link py-4"
          routerLink="/setting/fods/menu"
          routerLinkActive="active"
        >
          <span class="navi-icon mr-2">
            <span
              [inlineSVG]="'./assets/media/svg/icons/Design/Layers.svg'"
              cacheSVG="true"
              class="svg-icon"
            ></span>
          </span>
          <span class="navi-text font-size-lg"> Menus </span>
        </a>
      </div>

      <div class="navi-item mb-2">
        <a
          class="navi-link py-4"
          routerLink="/setting/fods/item"
          routerLinkActive="active"
        >
          <span class="navi-icon mr-2">
            <span
              [inlineSVG]="'./assets/media/svg/icons/General/User.svg'"
              cacheSVG="true"
              class="svg-icon"
            ></span>
          </span>
          <span class="navi-text font-size-lg"> Items </span>
        </a>
      </div>

      <!-- <div class="navi-item mb-2">
        <a
          class="navi-link py-4"
          routerLink="/customer-details/order-address"
          routerLinkActive="active"
        >
          <span class="navi-icon mr-2">
            <span
              [inlineSVG]="'./assets/media/svg/icons/Code/Compiling.svg'"
              cacheSVG="true"
              class="svg-icon"
            ></span>
          </span>
          <span class="navi-text font-size-lg"> AddOns </span>
        </a>
      </div> -->

      <div class="navi-item mb-2">
        <a
          class="navi-link py-4"
          routerLink="/setting/fods/delivery-area-view"
          routerLinkActive="active"
        >
          <span class="navi-icon mr-2">
            <span
              [inlineSVG]="
                './assets/media/svg/icons/Communication/Mail-opened.svg'
              "
              cacheSVG="true"
              class="svg-icon"
            ></span>
          </span>
          <span class="navi-text font-size-lg"> Delivery Area </span>
        </a>
      </div>

      <div class="navi-item mb-2">
        <a
          class="navi-link py-4"
          routerLink="/user-profile/email-settings"
          routerLinkActive="active"
        >
          <span class="navi-icon mr-2">
            <span
              [inlineSVG]="
                './assets/media/svg/icons/Communication/Mail-opened.svg'
              "
              cacheSVG="true"
              class="svg-icon"
            ></span>
          </span>
          <span class="navi-text font-size-lg"> Config </span>
        </a>
      </div>

      <div class="navi-item mb-2">
        <a
          class="navi-link py-4"
          routerLink="/user-profile/email-settings"
          routerLinkActive="active"
        >
          <span class="navi-icon mr-2">
            <span
              [inlineSVG]="
                './assets/media/svg/icons/Communication/Mail-opened.svg'
              "
              cacheSVG="true"
              class="svg-icon"
            ></span>
          </span>
          <span class="navi-text font-size-lg"> Riders </span>
        </a>
      </div>

      <div class="navi-item mb-2">
        <a
          class="navi-link py-4"
          routerLink="/user-profile/email-settings"
          routerLinkActive="active"
        >
          <span class="navi-icon mr-2">
            <span
              [inlineSVG]="
                './assets/media/svg/icons/Communication/Mail-opened.svg'
              "
              cacheSVG="true"
              class="svg-icon"
            ></span>
          </span>
          <span class="navi-text font-size-lg"> Realtime </span>
        </a>
      </div>

      <div class="navi-item mb-2">
        <a
          class="navi-link py-4"
          routerLink="/user-profile/email-settings"
          routerLinkActive="active"
        >
          <span class="navi-icon mr-2">
            <span
              [inlineSVG]="
                './assets/media/svg/icons/Communication/Mail-opened.svg'
              "
              cacheSVG="true"
              class="svg-icon"
            ></span>
          </span>
          <span class="navi-text font-size-lg"> Bot </span>
        </a>
      </div>
    </div>
    <!--end::Nav-->
  </div>
  <!--end::Body-->
</div>
<!--end::Profile Card-->
